/Backend/.vs

/Backend/FlowingBot.Api/bin
/Backend/FlowingBot.Api/obj

/Backend/FlowingBot.Tests/bin
/Backend/FlowingBot.Tests/obj

/Backend/FlowingBot.Console/bin
/Backend/FlowingBot.Console/obj

/Backend/FlowingBot.Core/bin
/Backend/FlowingBot.Core/obj

/Backend/FlowingBot/bin
/Backend/FlowingBot/obj


